.container {
    height: 100vh;
    width: 100wh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr 1fr;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    padding: 20px;
}

.footer-ul {
    display: flex;
    justify-content: space-between;
    margin: auto 550px;
}

.home-header {
    text-align: center;
}

.gross-header {
    text-align: center;
}

.show-content {
    width: 500px;
    margin: 80px auto;
    font-size: 25px;
}

.show-header {
    text-align: center;
}

.showButtons {
    margin-top: 50px;
    margin-left: 140px;
}

.buttons-inShow {
    margin-right: 10px;
}

.about-header {
    text-align: center;
}

.about-ul {
    margin-top: 140px;
    border: 1px solid black;

}

.about-li {
    text-align: center;
    font-size: 25px;
    background-color: rgb(235, 242, 242);
    margin: 0px 300px;
    color: black;
}

.nav-ul {
    font-size: 20px;
}

.nav-ul li {
    margin: 0px 10px;
    display: flex;
    align-items: center;
}

.nav-mainHeader {
    font-size: 30px;
}

nav {
    background-color: rgb(109, 157, 157);
    /* background-color: black; */
    color: white;
    box-shadow: 0 5px 100px -2px lightgrey;
    border: 1px solid black;
}

.gross-section {
    display: flex;
    align-items: center;
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.gross-header {
    display: flex;
    flex-direction: column;
}

.grossHigherThanTenK {
    color: lightgreen;
}

.grossLessThan0 {
    color: red;
}

.betweenZeroandTenK {
    color: lightyellow;
}

.transaction-list {
    text-align: left;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.account {
    margin: 20px;
}

.edit-form {
    background-color: rgb(235, 242, 242);
    font-size: 22px;
    width: 450px;
    text-align: center;
    align-self:center;
    margin: auto;
}

.show-div {
    font-size: 25px;
}

.showButtons button {
    font-size: 15px;
}

.new-form {
    background-color: rgb(235, 242, 242);
    font-size: 22px;
    width: 450px;
    text-align: center;
    align-self:center;
    margin: auto;
}

.new-submit {
    font-size: 15px;
    padding: 6px 4px;
}

.edit-back {
    margin-right: 10px;
}

.home-header {
    margin-top: 15%;
    font-size: 50px;
}

.total-accounts {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}