* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

li {
    list-style-type: none;
}

 nav a:link, nav a:visited, nav a:hover, nav a:active {
    color: white;
    text-decoration: none; /* Optional: to remove underline */
}

a {
    color: black;
    text-decoration: none; /* Optional: to remove underline */
}

nav, nav ul {
    display: flex;
}

nav {
    justify-content: space-between;
    padding: 10px 100px;
    margin: 0;
}

nav ul li {
    margin: 5px;
}

.account-link {
    background-color: rgb(235, 242, 242);
    padding: 3px 20px;
    border-top-right-radius: 20px;
    border: 1px solid black;
}